@import url(https://fonts.google.com/specimen/Red+Hat+Display);

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body {
    background-image: url(./images/pattern-background-desktop.svg);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 214px;
    object-fit: cover;
}

#card_main {
    max-width: 375px;
    height: 530px;
    margin: 0 auto;
    margin-top: 20vh;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.card_content {
    padding: 10px;
    margin: 10px;
}

.title {
    text-align: center;
    color: var(--Dark-blue);
    margin-top: 3px;
}

p {
    color: var(--Dark-blue);
    text-align: center;
    padding-bottom: 10px;
}

.card_summary {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--Very-pale-blue);
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 10px;
}

.music_icon {
    width: 40px;
    height: 40px;
    margin-right: 0;
}

.buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn_proceed {
    color: var(--Very-pale-blue);
    background-color: var(--Bright-blue);
    display: inline;
    border-radius: 12px;
    border: 1px solid var(--Bright-blue);
    padding: 12px;
    transition: background-color .25s ease-in-out;
}

.cancel {
    text-decoration: none;
    color: var(--Desaturated-blue);
    margin-top: 7px;
}

.change {
    margin-top: 6px;
    margin-left: 5px;
}

.attribution {
    text-align: center;
}

.change:hover {
    cursor: pointer;
    color: var(--Dark-blue);
}

.btn_proceed:hover {
    cursor: pointer;
    background-color: var(--Desaturated-blue);
    
}